.testimonials-section {
  padding: 30px 0 80px;
  background: url("../../../../../../assets/clients-background.png") no-repeat
    center;
  background-size: cover;

  color: #fff;

  header {
    margin-bottom: 9rem;
  }
}
