@import "../variables.scss";

.navbar {
  box-shadow: 0px 1px 2px 1px #000;
  z-index: 99;
  &.home-nav {
    background-color: transparent;
    transition: background-color 0.2s;
    position: fixed;

    &.navbar--scrolled {
      background-color: #fff;

      .nav-links-list {
        .nav-list-item {
          color: $mainTextColor;

          .nav-list-item-link {
            color: $mainTextColor;
            &:hover {
              border-bottom: 2px solid $mainTextColor;
            }
          }
        }
      }
    }

    .nav-links-list {
      .nav-list-item {
        color: #fff;

        .nav-list-item-link {
          color: white;
          transition: border-bottom 0.2s;

          &:hover {
            border-bottom: 2px solid #fff;
          }
        }

        .languages {
          color: $mainTextColor;
        }
      }
    }
  }
  // make the navbar content flexible
  padding: 10px 0;
  width: 100%;

  & > * {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // style the toggler
  .navbar-list-toggler {
    // set the position
    position: absolute;
    right: 10px;

    cursor: pointer;

    // set the ui
    color: #fff;
    background-color: transparent;
    border: 0;

    &.navbar-list-toggler--scrolled {
      color: $mainTextColor;
    }
  }

  &.page-nav {
    .nav-list-item {
      &:hover {
        background-color: $mainTextColor;
        border-radius: 10px;
        color: #fff;

        .nav-list-item-link {
          color: #fff;
        }
      }
    }
  }

  // make the list of links inline
  .nav-links-list {
    display: none;
    list-style: none;

    .nav-list-item {
      margin: 0 10px;
      padding: 10px;
      position: relative;
      cursor: pointer;
      color: $mainTextColor;

      .nav-list-item-link {
        color: $mainTextColor;
        text-decoration: none;
        transition: border-bottom 0.2s;
      }

      .languages {
        list-style: none;
        background-color: #fff;
        width: 300px;
        color: $mainTextColor;
        position: absolute;
        z-index: 9;

        .language-item {
          button {
            background-color: transparent;
            border: none;
            outline: none;
            width: 100%;
            padding: 0 10px;
            font-size: 18px;
            text-align: left;
            margin-bottom: 6px;

            &:hover {
              background-color: rgba(165, 162, 162, 0.4);
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 900px) {
  .navbar {
    .navbar-list-toggler {
      display: none;
    }

    .nav-links-list {
      display: flex;

      .languages {
        box-shadow: 0px 0px 3px 0px #000;
        top: 26px;
        position: absolute;
      }
    }
  }
}
