@import "../variables.scss";

.navbar {
  // make the navbar content flexible
  background-color: transparent;
  box-shadow: 1px 1px 3px 4px #ccc;
  transition: background-color 0.2s;
  padding: 10px 0;
  position: fixed;
  width: 100%;

  & > * {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // scrollable style
  &.navbar--scrolled {
    background-color: #fff;
  }

  // style the toggler
  .navbar-list-toggler {
    // set the position
    position: absolute;
    right: 10px;

    // set the ui
    color: #fff;
    background-color: transparent;
    border: 0;

    &.navbar-list-toggler--scrolled {
      color: $mainTextColor;
    }
  }

  // make the list of links inline
  .nav-links-list {
    display: none;
    list-style: none;

    .nav-list-item {
      margin: 0 10px;

      .nav-list-item-link {
        color: $mainTextColor;
        text-decoration: none;
        transition: border-bottom 0.2s;

        &:hover {
          border-bottom: 2px solid $mainTextColor;
        }
      }
    }
  }
}

@media (min-width: 900px) {
  .navbar {
    .navbar-list-toggler {
      display: none;
    }

    .nav-links-list {
      display: flex;
    }
  }
}
